.contact-list {
    list-style: none;
    padding: 0;
}

    .contact-list li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .contact-list a {
        color: var(--text-link);
        text-decoration: none;
    }

        .contact-list a:hover {
            text-decoration: underline;
        }

.contact-icon {
    width: 28px;
    height: 28px;
    margin-right: 8px; /* Spacing between icon and text */
    vertical-align: middle;
}
