/* Use a grid layout to make cards wider and adjust dynamically */
.projects-container {
    display: grid;
    gap: 2rem;
}

/* Style each project card as a two-column layout */
.project-card {
    background-color: var(--card-bg-color);
    backdrop-filter: var(--card-backdrop-blur);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}

    .project-card:hover {
        box-shadow: 0 0px 12px #ffff32;
    }

/* Left column: image container */
.project-image {
    flex: 1;
    display: flex;
}

/* Right column: text and links */
.project-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

    .project-details h3 {
        margin: 0;
        /* color: var(--accent-yellow); */
        color: var(--vanta-highlight-whiter);
    }

    .project-details p {
        margin: 0.5rem 0;
        line-height: 1.5;
    }

    .project-details a {
        color: var(--text-link);
        text-decoration: none;
    }

        .project-details a:hover {
            text-decoration: underline;
        }


.project-image .image-display {
    width: 100%;
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.project-image .slide {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

    .project-image .slide.active {
        opacity: 1;
        z-index: 1;
    }

    .project-image .slide img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 8px;
    }