@namespace Components
@inherits LayoutComponentBase

<div class="navbar">
    <a class="nav-item" href="#bio">
        <span class="nav-tooltip">Bio</span>
        <img src="Icons/fluent-color--home-32.svg" alt="Bio" />
    </a>
    <a class="nav-item" href="#experience">
        <span class="nav-tooltip">Experience</span>
        <img src="Icons/fluent-color--toolbox-32.svg" alt="Experience" />
    </a>
    <a class="nav-item" href="#education">
        <span class="nav-tooltip">Education</span>
        <img src="Icons/fluent-color--book-open-32.svg" alt="Education" />
    </a>
    <a class="nav-item" href="#projects">
        <span class="nav-tooltip">Projects</span>
        <img src="Icons/fluent-color--code-block-32.svg" alt="Projects" />
    </a>
</div>