@namespace Components
@inherits LayoutComponentBase

<div class="navbar">
    <a class="nav-item" href="#bio">
        <span class="nav-tooltip">Bio</span>
        🏠
    </a>
    <a class="nav-item" href="#experience">
        <span class="nav-tooltip">Experience</span>
        🔧
    </a>
    <a class="nav-item" href="#projects">
        <span class="nav-tooltip">Projects</span>
        📁
    </a>
</div>