
* {
    font-family: "Spline Sans", serif;
}

body {
    background-color: #181818;
    color: #ddd;
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 85%;
    margin: auto;
    padding: 15px;
}

h1, h2, h3 {
    font-size: 42px;
    color: #ffff32; /* Yellow accent */
}

h2 {
    color: #00ff00; /* Max green */
}

.bio-section, .experience-section {
    margin-bottom: 50px;
}

.experience-item {
    background: #222;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
}

    .experience-item h3 {
        /* Apparentally browser create automatically extra padding for h3, 
            which makes the experience cards look bad */
        margin-top: 0;
        padding-top: 0;
    }


.layout {
    display: flex;
}

.content {
    margin-left: 25px; /* Space for the navbar */
    padding: 10px;
    flex-grow: 1;
}

.bio-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #ddd;
}

.contact-section h2 {
    margin-top: 30px;
    color: #ffff32;
}

.contact-list {
    list-style: none;
    padding: 0;
}

    .contact-list li {
        font-size: 18px;
        margin: 8px 0;
    }

    .contact-list a {
        color: #4ea8de;
        text-decoration: none;
    }

        .contact-list a:hover {
            text-decoration: underline;
        }

/* Blazor error stuff */
#blazor-error-ui {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffcccc;
    color: #800000;
    padding: 10px;
    display: none; /* This prevents it from being visible when there are no errors */
    z-index: 1000;
}

    #blazor-error-ui a {
        color: #800000;
        font-weight: bold;
        margin-left: 10px;
        cursor: pointer;
    }

    #blazor-error-ui.show {
        display: block !important; /* Blazor only shows it when needed */
    }