/* Use a grid layout to make cards wider and adjust dynamically */
.projects-container {
    display: grid;
    gap: 2rem;
}

/* Style each project card */
.project-card {
    background: #222;
    color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 24px;
}

        .project-card:hover {
            /* transform: translateY(-5px); */
            box-shadow: 0 0px 12px #ffff32;
        }

    /* Style for the project image */
            .project-card img {
        width: 100%;
        height: auto;
        border-radius: 6px;
        object-fit: cover;
    }

    /* Ensure headings and paragraphs are nicely spaced */
    .project-card h3 {
        margin: 0; /* Remove default top margin */
        color: #ffff32 ;
    }

    .project-card p {
        margin: 0.5rem 0;
        line-height: 1.5;
    }

        .project-card a {
            color: #4ea8de;
            text-decoration: none;
            /*  font-weight: bold;*/
        }

        .project-card a:hover {
            text-decoration: underline;
        }
