@page "/"
@inject ProjectService ProjectService
@using Services
@using Models

<div class="main-container">
    <section class="bio-section">
        <h1>Portfolio - Joonas Suuronen</h1>
        <p>Engineer, full-stack developer, programmer, entrepeneur, tech enthustiast</p>
    </section>

    <section class="contact-section">
        <h2>📌 Contact & Links</h2>
        <ul class="contact-list">
            <li>📍 Location: Espoo, Finland</li>
            <li>📧 Email: <a href="mailto:jsuuronen9@gmail.com">jsuuronen9@gmail.com</a></li>
            <li>🐙 GitHub: <a href="https://github.com/Joonas98" target="_blank">Github - Joonas98</a></li>
            <li>🔗 LinkedIn: <a href="https://www.linkedin.com/in/joonas-suuronen-8726ab255/" target="_blank">LinkedIn - Joonas Suuronen</a></li>
        </ul>
    </section>

    <section id="experience" class="experience-section">
        <h2>Experience</h2>
        <div class="experience-item">
            <h3>Software Developer - Crosskey Banking Solutions</h3>
            <p>Working since 2023</p>
            <p>Technologies: C#, Blazor, Unity</p>
        </div>
        <div class="experience-item">
            <h3>Software Developer - Metropolia UAS, SAM-project</h3>
            <p>Worked through 2022</p>
            <p>Technologies: front-end development, UI & UX, C#, Unity</p>
        </div>
        <div class="experience-item">
            <h3>Game Developer - Net Get Games</h3>
            <p>Worked from 2020 - 2022</p>
            <p>Technologies: front-end development, UI & UX, C#, Unity</p>
        </div>
        <div class="experience-item">
            <h3>Security Guard - Avarn Security</h3>
            <p>Worked from 2017 - 2023</p>
            <p>About: my first real job, I worked partially through my studies.</p>
        </div>
    </section>

    <section id="projects" class="projects-section">
        <h2>Projects</h2>
        <Projects />
    </section>
</div>

@code {
    private List<Project>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.GetProjectsAsync();
    }
}
