@page "/"
@inject ProjectService ProjectService
@using Services
@using Models
@using Components

<div class="main-container">
    <section id="bio" class="bio-section">
        <div class="bio-container">
            <div class="bio-text">
                <h1>Introduction - Joonas Suuronen</h1>
                <p>
                    Hello, and welcome to my portfolio website.
                </p>
                <p>
                    I am aspiring full-stack developer with passion and blaa blaa blaa, you can read all the details from this page.
                </p>
                <p>
                    My favorite, and most relatable quote comes from Conficius: 'Choose a job you love, and you'll never have to work a day in
                    your life.'
                </p>
                <!-- Contacts inserted into bio text section -->
                <div class="bio-contacts">
                    <h3>Resume, Contacts and Links</h3>
                    <ul class="contact-list">
                        <li>
                            <img src="Icons/fluent-color--document-text-32.svg" alt="Resume" class="contact-icon" />
                            Resume:&nbsp;
                            <div class="resume-buttons">
                                <a href="Resume/resume.pdf" target="_blank" class="btn view-btn">View</a>
                                <span> | </span>
                                <a href="Resume/resume.pdf" download class="btn download-btn">Download</a>
                            </div>
                        </li>
                        <li>
                            <img src="Icons/fluent-color--flag-32.svg" alt="Location" class="contact-icon" />
                            Location: Espoo, Finland
                        </li>
                        <li>
                            <img src="Icons/fluent-color--mail-32.svg" alt="Email" class="contact-icon" />
                            Email:&nbsp;<a href="mailto:jsuuronen9@gmail.com">jsuuronen9@gmail.com</a>
                        </li>
                        <li>
                            <img src="Icons/fluent-color--phone-32.svg" alt="Phone" class="contact-icon" />
                            Phone:&nbsp;<a href="tel:+358400368833">+358 400368833</a>
                        </li>
                        <li>
                            <img src="Icons/devicon--github.svg" alt="GitHub" class="contact-icon" />
                            GitHub:&nbsp;<a href="https://github.com/Joonas98" target="_blank">Github - Joonas98</a>
                        </li>
                        <li>
                            <img src="Icons/devicon--linkedin.svg" alt="LinkedIn" class="contact-icon" />
                            LinkedIn:&nbsp;<a href="https://www.linkedin.com/in/joonas-suuronen-8726ab255/" target="_blank">LinkedIn - Joonas Suuronen</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bio-image">
                <ImageDisplay ImageUrls="@(bioImages)" SlideInterval="4000" AutoSlide="true" CssClass="large" />
            </div>
        </div>
    </section>

    <section id="experience" class="experience-section">
        <h2>Experience</h2>
        <div class="experience-item">
            <div class="experience-details">
            <h3>Software Developer - Crosskey Banking Solutions</h3>
            <p>Working since 2023</p>
                <p>
                    In my current full-time role, I develop complex financial systems using a Dynamics 365 CRM-based platform and APIs. Although I cannot disclose further details due to confidentiality agreements, I can share that we serve a diverse clientele—both large and small—across the Nordic countries. Our systems support hundreds of thousands of users daily, securely and reliably processing billions of euros while maintaining compliance with international and EU regulations.
            </p>
            <p>Technologies: C#, SQL, XSLT, JavaScript, CRM, Microsoft, Plugins, CI/CD, Agile</p>
            </div>
            <div class="experience-logo-container">
            <img src="images/CrosskeyLogo.jpg" alt="Company Logo" class="experience-logo" />
            </div>
        </div>
        <div class="experience-item">
            <div class="experience-details">
            <h3>Software Developer - Metropolia UAS, SAM-project</h3>
            <p>Worked through 2022</p>
                <p>
                    After completing my engineering thesis, I was retained as one of the key contributors to the project. We developed a simulation for a surveillance system tailored to autonomous vehicles, with the objective of determining the number of vehicles a single operator can effectively monitor—a metric that may inform future regulatory standards.
            </p>
            <p>Technologies: front-end development, UI &amp; UX, C#, Unity</p>
            </div>
            <div class="experience-logo-container">
                <img src="images/MetropoliaLogo.jpg" alt="Company Logo" class="experience-logo" />
            </div>
        </div>
        <div class="experience-item">
                <div class="experience-details">
            <h3>Game Developer - Net Get Games</h3>
            <p>Worked from 2020 - 2022</p>
                <p>I was hired to work on a commercial game project as part of a small indie team, where I contributed to a wide range of core mechanics and systems. Notably, I developed comprehensive menu interfaces, a robust minimap system, and various helper functions to support fellow developers.</p>
            <p>Technologies: front-end development, UI &amp; UX, C#, Unity, JavaScript</p>
            </div>
           <!--  <div class="experience-logo-container">                                                                         -->
           <!--      <img src="images/CrosskeyLogo.jpg" alt="Company Logo" class="experience-logo" />   -->
           <!--  </div>                                                                                                                          -->
        </div>
        <div class="experience-item">
                    <div class="experience-details">
            <h3>Security Guard - Avarn Security</h3>
            <p>Worked from 2017 - 2023</p>
                <p>In my role as a security guard, I provided professional and secure services to hundreds of customers, managing a range of responsibilities to uphold high safety standards and operational security. From 2022 onward, I collaborated with Nokia to ensure the safe and secure development of 5G technology.</p>
            </div>
            <div class="experience-logo-container">
                <img src="images/AvarnLogo.webp" alt="Company Logo" class="experience-logo" />
            </div>
        </div>
    </section>

    <section id="education" class="experience-section">
        <h2>Education</h2>
        <div class="experience-item">
            <div class="experience-details">
            <h3>Metropolia UAS - Information and Communication Technology</h3>
            <p>2018 - 2022</p>
            <p>Bachelor, Engineer. Specialized in game development</p>
            </div>
        </div>
        <div class="experience-item">
                <div class="experience-details">
            <h3>Leppävaara Upper Secondary School - Matriculation Examination</h3>
            <p>2014-2017</p>
            <p>Technologies: C#, Blazor, Unity</p>
            </div>
        </div>
        <div class="experience-item">
                    <div class="experience-details">
            <h3>Others</h3>
            <p>2017 - Security guard's permit education. Also included first aid, fire- and work safety cards.</p>
            <p>Technologies: C#, Blazor, Unity</p>
            </div>
        </div>
    </section>

    <section id="projects" class="projects-section">
        <h2>Projects</h2>
        <Projects />
    </section>
</div>

@code {
    private List<Project>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.GetProjectsAsync();
    }

    private List<string> bioImages = new List<string>
    {
        "Images/Joonas1.jpg",
        "Images/Joonas2.jpg"
    };
}
